@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>We care for you!!!!</p>
    <img src="~/image/2.jpg" class="img-fluid" alt="Responsive image" />
</div>

<div class="row">
    <div class="col-lg-6">
        <h3>Our Patients Are at the Centre of Everything We Do</h3>
    </div>
    <div class="col-lg-2"><img src="~/image/ability_img.png" /></div>
</div>
<br />
<br />
<br />

<ul class="nav nav-tabs">
    <li><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <p>Heart specialist</p>
        Cardiologists are doctors who specialize in diagnosing <br />
        and treating diseases or conditionsof the heart and <br />
        blood vessels—the cardiovascular system. You might <br />
        also visit a cardiologist so you can learn about <br />
        your risk factors for heart disease and find out <br />
        what measures youcan take for better heart health. <br />
        Texas Heart Institute cardiologists are listed in
        theprofessional staff directory.
    </div>
    <div class="tab-pane fade" id="profile">
        <p>
            <img src="~/image/cource_2.png" height="250" width="250" />
        </p>
        <p>Dr. anderson moody</p>
    </div>
</div>
<h2>Rating--95%</h2>
<div class="progress progress-striped active">
    <div class="progress-bar" style="width: 95%"></div>
</div>
<br />
<br />



<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab1">Profile</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <p>Paediatrician</p>
        It's one of the biggest decisions you make before your baby is born. <br />
        Which pediatrician is the right one for your child? Before you start  <br />
        your search, take a few minutes to learn exactly what this kind of <br />
        doctor does.It will help you make a better choice and know what to <br />
        expect when your little one arrives.Pediatricians are doctors who manage <br />
        the health of your child, including physical, behavior, and mental <br />
        health issues. They're trained to diagnose and treat childhood <br />
        illnesses, from minor health problems to serious diseases.
    </div>
    <div class="tab-pane fade" id="profile">
        <p>

            <img src="~/image/cource_2.png" />
        </p>
    </div>

</div>
<h2>Rating--88%</h2>
<div class="progress progress-striped active">

    <div class="progress-bar" style="width: 88%"></div>
</div>
<br />
<br />
<!----------------------------------------------------------------------------------->


<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <p>Dentist</p>
        Cardiologists are doctors who specialize in diagnosing <br />
        and treating diseases or conditionsof the heart and <br />
        blood vessels—the cardiovascular system. You might <br />
        also visit a cardiologist so you can learn about <br />
        your risk factors for heart disease and find out <br />
        what measures youcan take for better heart health. <br />
        Texas Heart Institute cardiologists are listed in
        theprofessional staff directory.
    </div>
    <div class="tab-pane fade" id="profile">
        <p>

            <img src="~/image/cource_3.png" />
        </p>
    </div>

</div>
<h2>Rating--80%</h2>
<div class="progress progress-striped active">

    <div class="progress-bar" style="width: 80%"></div>
</div>
<br />
<br />

<!----------------------------------------------------------------------------------->

<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <p>Neurologist</p>
        Cardiologists are doctors who specialize in diagnosing <br />
        and treating diseases or conditionsof the heart and <br />
        blood vessels—the cardiovascular system. You might <br />
        also visit a cardiologist so you can learn about <br />
        your risk factors for heart disease and find out <br />
        what measures youcan take for better heart health. <br />
        Texas Heart Institute cardiologists are listed in
        theprofessional staff directory.
    </div>
    <div class="tab-pane fade" id="profile">
        <p>

            <img src="~/image/doctor_1.png" />
        </p>
    </div>

</div>
<h2>Rating--95%</h2>
<div class="progress progress-striped active">

    <div class="progress-bar" style="width: 95%"></div>
</div>
<br />
<br />
<!----------------------------------------------------------------------------------->


<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <p>Physician</p>
        Cardiologists are doctors who specialize in diagnosing <br />
        and treating diseases or conditionsof the heart and <br />
        blood vessels—the cardiovascular system. You might <br />
        also visit a cardiologist so you can learn about <br />
        your risk factors for heart disease and find out <br />
        what measures youcan take for better heart health. <br />
        Texas Heart Institute cardiologists are listed in
        theprofessional staff directory.
    </div>
    <<div class="tab-pane fade" id="profile">
        <p>

            <img src="~/image/doctor_2.png" />
        </p>
    </div>

</div>
<h2>Rating--85%</h2>
<div class="progress progress-striped active">

    <div class="progress-bar" style="width: 85%"></div>
</div>
<br />
<br />
<!----------------------------------------------------------------------------------->

<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <p>Heart specialist</p>
        Cardiologists are doctors who specialize in diagnosing <br />
        and treating diseases or conditionsof the heart and <br />
        blood vessels—the cardiovascular system. You might <br />
        also visit a cardiologist so you can learn about <br />
        your risk factors for heart disease and find out <br />
        what measures youcan take for better heart health. <br />
        Texas Heart Institute cardiologists are listed in
        theprofessional staff directory.
    </div>
    <div class="tab-pane fade" id="profile">
        <p>

            <img src="~/image/doctor_3.png" />
        </p>
    </div>

</div>
<h2>Rating--70%</h2>
<div class="progress progress-striped active">

    <div class="progress-bar" style="width: 70%"></div>
</div><!----------------------------------------------------------------------------------->

<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-2">
        <h2>Contact us here</h2>
        <p>
            Give call anytime
        </p><br /><br /><br />
        <p><a class="btn btn-default" href="#">Contact &raquo;</a></p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <h2>Search for Doctors</h2>
        <p>See our clients here!!!</p><br /><br /><br />
        <p><a class="btn btn-default" href="#">Doctors &raquo;</a></p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <h2>Make your Appointment here</h2>
        <p>Easy appointment on just one click!!!</p>
        <p><a class="btn btn-default" href="#">Appointment &raquo;</a></p>
    </div>
    <div class="col-md-2">
    </div>
</div>