@model IEnumerable<Project.Models.doctor_Register>
<br />
<br />
<div class="container">
    <h3 style="text-align:center">Doctor List</h3>
    <br /><br />
    <table class="table-bordered">
        <tr>
            <th style="width:20%">ID</th>
            <th style="width:80%">Name</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.mob_Number
                </td>
                <td><a href="#" data-toggle="popover" data-trigger="hover" id="@item.mob_Number">@item.first_Name</a></td>
            </tr>
        }
    </table>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"
        integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            title: setData,
            html: true,
            placement: 'right'
        });

        function (setData (id){
            var set_data = '';
            var element = $(this);
            var id = element.attr("id");
            $.ajax({
                url: "/Dd/doctor_Register?id" + id,
                method: "post",
                async: false,
                data: { id: id },
                success: function (data) {
                    set_data = data;

                }
            });

            return set_data;
        }
    });
</script>